<template>
  <div>
    <h2 class="mb-3">
      Добавть сотрудника
    </h2>
    <b-container fluid>
      <employee-form :submit="submit" />
    </b-container>
  </div>
</template>

<script>
import { mapActions } from 'vuex'

export default {
  name: 'Create',
  methods: {
    ...mapActions('employee', ['addEmployeeAction']),
    submit (form) {
      return this.addEmployeeAction(form).then(() => {
        this.$router.push({
          name: 'employee'
        })
      })
    }
  }
}
</script>

<style scoped>

</style>
