<template>
  <div>
    <h2 class="mb-3">
      Список сотрудников
    </h2>
    <b-container fluid>
      <b-row class="justify-content-end mb-4">
        <b-col cols="4">
          <gender-select v-model="filter.gender" />
        </b-col>
        <b-col cols="4">
          <department-select v-model="filter.department" />
        </b-col>
        <b-button to="employee/create" class="btn-text" size="sm">
          + Добавить
        </b-button>
      </b-row>
    </b-container>
    <b-table
      id="table"
      striped
      hover
      responsive
      :fields="fields"
      :busy="loading"
      :items="list && list.data"
    >
      <template #table-busy>
        <div class="text-center text-danger my-2">
          <b-spinner class="align-middle" />
          <strong>Loading...</strong>
        </div>
      </template>

      <template #cell(department)="scope">
        {{ DEPARTMENTS[scope.item.department] }}
      </template>
      <template #cell(gender)="scope">
        {{ GENDERS[scope.item.gender] }}
      </template>
      <template #cell(action)="scope">
        <b-row align-v="center">
          <nuxt-link :to="{ name: 'employee-id-edit', params: { id: scope.item.id } }" class="mr-3">
            <font-awesome-icon :icon="['fas', 'pen']" />
          </nuxt-link>
          <b-button size="sm" @click="deleteEmployee(scope.item.id)">
            <font-awesome-icon :icon="['fas', 'trash']" />
          </b-button>
        </b-row>
      </template>
    </b-table>
    <b-pagination
      v-if="list"
      v-model="page"
      :total-rows="list && list.count"
      :per-page="10"
      aria-controls="table"
      align="center"
      @change="onPageChange"
    />
  </div>
</template>

<script>
import { mapActions, mapState } from 'vuex'
import { DEPARTMENTS } from '@/constants/department'
import { GENDERS } from '~/constants/gender'

export default {
  name: 'Index',
  data () {
    return {
      GENDERS,
      DEPARTMENTS,
      filter: {
        gender: null,
        department: null
      },
      page: 1,
      loading: false,
      fields: [
        { key: 'id', label: '#' },
        { key: 'fullName', label: 'Ф.И.О' },
        { key: 'department', label: 'Отдел' },
        { key: 'position', label: 'Должность' },
        { key: 'gender', label: 'Пол' },
        { key: 'birthDate', label: 'Дата рождения' },
        { key: 'action', label: '#' }
      ]
    }
  },
  computed: {
    ...mapState('employee', ['list'])
  },
  watch: {
    $route () {
      this.getEmployeeList()
    },
    filter: {
      deep: true,
      handler (filter) {
        this.page = 1
        this.$router.push({
          query: {
            gender: filter.gender,
            department: filter.department
          }
        })
      }
    }
  },
  created () {
    this.getEmployeeList()
    this.setInitialProps()
  },
  methods: {
    ...mapActions('employee', ['getEmployeeListAction', 'deleteEmployeeAction']),
    getEmployeeList () {
      const query = this.$route.query
      this.loading = true
      this.getEmployeeListAction(query).finally(() => {
        this.loading = false
      })
    },
    deleteEmployee (id) {
      this.$confirmDialog()
        .then((e) => {
          if (e) {
            this.deleteEmployeeAction(id).then(() => {
              this.getEmployeeList()
            })
          }
        })
    },
    onPageChange (page) {
      this.$router.push({
        query: { _page: page }
      })
    },
    setInitialProps () {
      this.page = parseInt(this.$route.query._page) || 1
      this.filter.gender = parseInt(this.$route.query._gender) || null
      this.filter.department = parseInt(this.$route.query._department) || null
    }
  }
}
</script>

<style scoped>

</style>
