<template>
  <custom-form :loading="loading || detailLoading" :submit="onSubmit">
    <b-row>
      <b-col cols="6">
        <validation-provider
          v-slot="{ errors, valid }"
          name="fullName"
          rules="required"
        >
          <b-form-group
            id="fullName"
            label="Полное имя"
            label-for="fullName"
            :invalid-feedback="errors&&errors[0]"
            :state="valid"
          >
            <b-form-input
              id="fullName"
              v-model="form.fullName"
              size="sm"
              placeholder="Введите Ф.И.О"
              :state="valid"
              trim
            />
          </b-form-group>
        </validation-provider>
        <validation-provider
          v-slot="{ errors, valid }"
          name="department"
          rules="required"
        >
          <b-form-group
            id="department"
            label="Выбор отдела"
            label-for="department"
            :invalid-feedback="errors&&errors[0]"
            :state="valid"
          >
            <department-select id="department" v-model="form.department" :state="valid" />
          </b-form-group>
        </validation-provider>
        <validation-provider
          v-slot="{ errors, valid }"
          name="position"
          rules="required"
        >
          <b-form-group
            id="position"
            label="Должность"
            label-for="position"
            :invalid-feedback="errors&&errors[0]"
            :state="valid"
          >
            <b-form-input
              id="position"
              v-model="form.position"
              size="sm"
              placeholder="Введите Должность"
              :state="valid"
              trim
            />
          </b-form-group>
        </validation-provider>
      </b-col>
      <b-col cols="6">
        <validation-provider
          v-slot="{ errors, valid }"
          name="gender"
          rules="required"
        >
          <b-form-group
            id="gender"
            label="Пол"
            label-for="gender"
            :invalid-feedback="errors&&errors[0]"
            :state="valid"
          >
            <gender-select id="gender" v-model="form.gender" :state="valid" trim />
          </b-form-group>
        </validation-provider>
        <validation-provider
          v-slot="{ errors, valid }"
          name="birthDate"
          rules="required"
        >
          <b-form-group
            id="birthDate"
            label="Дата рождения"
            label-for="birthDate"
            :invalid-feedback="errors&&errors[0]"
            :state="valid"
          >
            <b-form-datepicker
              id="birthDate"
              v-model="form.birthDate"
              size="sm"
              :state="valid"
              :date-format-options="{ year: 'numeric', day: 'numeric', month: 'numeric' }"
              locale="ru"
              value-as-date
              reset-button
              placeholder="Выберите дату рождение"
            />
          </b-form-group>
        </validation-provider>
      </b-col>
    </b-row>
  </custom-form>
</template>

<script>
export default {
  name: 'EmployeeForm',
  props: {
    value: {
      type: Object,
      required: false,
      default: () => {}
    },
    detailLoading: {
      type: Boolean,
      required: false
    },
    submit: {
      type: Function,
      required: true
    }
  },
  data () {
    return {
      form: {
        gender: null,
        department: null
      },
      loading: false
    }
  },
  mounted () {
    this.form = this.value ? JSON.parse(JSON.stringify(this.value)) : {}
  },
  methods: {
    onSubmit () {
      const { form } = this
      this.loading = true
      return this.submit(form).finally(() => {
        this.loading = false
      })
    }
  }
}
</script>

<style scoped>

</style>
