<template>
  <div>
    <nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
      <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#" />
      <b-form-input
        v-model="keyword"
        class="form-control-dark w-100"
        placeholder="Поиск"
        aria-label="Search"
      />
    </nav>
    <b-container fluid>
      <b-row>
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
          <div class="sidebar-sticky">
            <ul class="nav flex-column">
              <li class="nav-item">
                <nuxt-link to="/" class="nav-link" exact>
                  <font-awesome-icon :icon="['fas', 'chart-line']" />
                  Главная
                </nuxt-link>
              </li>
              <li class="nav-item">
                <nuxt-link to="/employee" class="nav-link" exact>
                  <font-awesome-icon :icon="['fas', 'user-friends']" />
                  Сотрудники
                </nuxt-link>
              </li>
            </ul>
          </div>
        </nav>
        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
          <nuxt />
        </main>
      </b-row>
    </b-container>
  </div>
</template>

<script>
import { debounceTime } from 'rxjs/operators'

export default {
  data () {
    return {
      keyword: ''
    }
  },
  mounted () {
    this.observeSearchKeyword()
  },
  methods: {
    observeSearchKeyword () {
      this.$watchAsObservable('keyword').pipe(debounceTime(500)).subscribe(
        ({ newValue }) => {
          this.$router.push({
            query: {
              q: newValue
            }
          })
        }
      )
    }
  }
}
</script>

<style></style>
