<template>
  <div>
    <b-container fluid>
      <b-overlay class="mt-2" :show="loading" opacity="0.8">
        <b-card-group deck>
          <b-card
            v-if="dashboard"
            title="Информация о компании"
          >
            <b-card-text>Средний возраст сотрудника в компании: {{ dashboard.averageAge }}</b-card-text>
            <b-card-text>Количество всех сотрдников: {{ dashboard.count.all }}</b-card-text>
            <b-card-text>Количество мужчин: {{ dashboard.count.mans }}</b-card-text>
            <b-card-text>Количество женщин: {{ dashboard.count.womans }}</b-card-text>
            <b-card-text>Количество сотрудников в отделе IT: {{ dashboard.count.itDepartment }}</b-card-text>
            <b-card-text>Количество сотрудников в отделе Бухгалтерия: {{ dashboard.count.accountDepartment }}</b-card-text>
            <b-card-text>Количество сотрудников в отделе Маркетинг: {{ dashboard.count.marketingDepartment }}</b-card-text>
          </b-card>
        </b-card-group>
      </b-overlay>
    </b-container>
  </div>
</template>

<script>
import { mapActions, mapState } from 'vuex'

export default {
  data () {
    return {
      loading: false
    }
  },
  computed: {
    ...mapState(['dashboard'])
  },
  created () {
    this.getDashboardInfo()
  },
  methods: {
    ...mapActions(['getDashboardInfoAction']),
    getDashboardInfo () {
      this.loading = true
      this.getDashboardInfoAction().finally(() => {
        this.loading = false
      })
    }
  }
}
</script>

<style></style>
