<template>
  <b-input-group>
    <template slot="append">
      <b-button size="sm" @click="$emit('input', null)">
        <font-awesome-icon :icon="['fas', 'times']" size="xs" />
      </b-button>
    </template>
    <b-form-select
      v-bind="$attrs"
      :options="GENDER_LIST"
      size="sm"
      v-on="$listeners"
    />
  </b-input-group>
</template>

<script>
import { GENDERS, GENDER_LIST } from '~/constants/gender'

export default {
  name: 'GenderSelect',
  data () {
    return {
      GENDERS,
      GENDER_LIST
    }
  }
}
</script>

<style scoped>

</style>
