<template>
  <div>
    <h2 class="mb-3">
      Редактировать сотрудника
    </h2>
    <employee-form :detail-loading="loading" :key="detail && detail.id" :submit="submit" :value="detail" />
  </div>
</template>

<script>
import { mapActions, mapState } from 'vuex'

export default {
  computed: {
    ...mapState('employee', ['detail'])
  },
  created () {
    this.getCourseDetail()
  },
  methods: {
    ...mapActions('employee', ['updateEmployeeAction', 'getEmployeeDetailAction']),
    getCourseDetail () {
      const id = this.$route.params.id
      this.loading = true
      this.getEmployeeDetailAction(id).finally(() => {
        this.loading = false
      })
    },
    submit (form) {
      return this.updateEmployeeAction(form).then(() => {
        this.$router.push({
          name: 'employee'
        })
      })
    }
  }
}
</script>

<style scoped></style>
