<template>
  <ValidationObserver
    ref="obs"
    v-slot="{ invalid, validated, passes }"
    tag="div"
  >
    <b-overlay :show="loading" opacity="0.8">
      <b-form class="w-100">
        <slot v-bind="{ invalid, validated, passes }" />
        <slot name="actions">
          <b-container class="mt-2" fluid>
            <b-row>
              <b-button class="mr-4" :disabled="invalid" variant="success" @click="submit">
                Сохранить
              </b-button>
              <b-button variant="primary" @click="exit">
                Выйти
              </b-button>
            </b-row>
          </b-container>
        </slot>
      </b-form>
    </b-overlay>
  </ValidationObserver>
</template>

<script>

export default {
  name: 'CustomForm',
  props: {
    loading: {
      type: Boolean,
      default: false
    },
    submit: {
      type: Function,
      required: true
    }
  },
  methods: {
    exit () {
      this.$router.go(-1)
    }
  }
}
</script>

<style></style>
